@prefix code;

.box {
  flex: 1 1 100%;
  border-right: 2px solid #131313;
  max-width: 550px;
  background: #444;
}

.block {
  overflow: hidden;
  display: flex;
  max-height: 33.33333vh;
  min-height: 33.33333vh;
  border-top: 1px solid #131313;
  border-bottom: 1px solid #131313;
  background: #131313;
}

&:nth-child(n+2) {
  margin-top: -1px;
}

.tree {
  flex: 1 1 100%;
  max-width: 10em;
  min-width: 10em;
  font-size: .9em;
  line-height: 1.6;
}

.content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
}

.line-number {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 1em;
  min-height: 33.33333vh;
  padding: 0 .5em;
  background: #131313;
  box-shadow: 3px 0px 13px -3px #000;
  text-align: right;
  line-height: 1.8;
  font-size: .8em;
  color: #aaa;
}

.line-index {
  display: block;
}

.pre {
  overflow: auto;
  padding-left: 2em;
}

@prefix;
